.fl-post-title {display: none;}
.fl-post-gallery-text {display: none;}
.fl-page-header-wrap {margin-top: 37px;}
.fl-post-gallery-img-horiz {max-width: 100% !important;}
.uabb-menu-close-btn {color: #fff;font-size: 55px !important;top: -1vh;}
.hamburger-menu {position: fixed !important;width: 3vw !important;top: 5vh !important;left: 2vw !important;}