.button.fl-preview-button {margin: 5px 0;width: 100%;}
.fl-code-editor {border: 1px solid #ccc;height: 300px;position: absolute;top: 5px;}
.ace_editor.ace_autocomplete {z-index: 100000000 !important;}
.ace_editor {position: relative !important;}
.customize-control-slider input[type=range] {-webkit-appearance: none;-webkit-transition: background .3s;-moz-transition: background .3s;transition: background .3s;background-color: rgba(0,0,0,.1);height: 5px;width: calc(100% - 74px);padding: 0;}
.customize-control-slider input[type=range]:focus {box-shadow: none;outline: none;}
.customize-control-slider input[type=range]:hover {background-color: rgba(0,0,0,.25);}
.customize-control-slider input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;width: 15px;height: 15px;border-radius: 50%;-webkit-border-radius: 50%;background-color: #3498d9;}
.customize-control-slider input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;width: 15px;height: 15px;border: none;border-radius: 50%;background-color: #3498d9;}
.customize-control-slider input[type=range]::-moz-range-thumb {width: 15px;height: 15px;border: none;border-radius: 50%;background-color: #3498d9;}
.customize-control-slider input[type=range]::-ms-thumb {width: 15px;height: 15px;border-radius: 50%;border: 0;background-color: #3498d9;}
.customize-control-slider input[type=range]::-moz-range-track {border: inherit;background: transparent;}
.customize-control-slider input[type=range]::-ms-track {border: inherit;color: transparent;background: transparent;}
.customize-control-slider input[type=range]::-ms-fill-lower, .customize-control-slider input[type=range]::-ms-fill-upper {background: transparent;}
.customize-control-slider input[type=range]::-ms-tooltip {display: none;}
.customize-control-slider .fl-range-value {display: inline-block;padding: 0 5px;position: relative;top: 1px;}
.customize-control-slider input#fl-range-value-input {width: 42px;height: 23px;font-size: 13px;}
.customize-control-slider .fl-slider-reset {color: rgba(0,0,0,.2);float: right;-webkit-transition: color .5s ease-in;-moz-transition: color .5s ease-in;-ms-transition: color .5s ease-in;-o-transition: color .5s ease-in;transition: color .5s ease-in;}
.customize-control-slider .fl-slider-reset span {font-size: 16px;line-height: 22px;cursor: pointer;}
.customize-control-slider .fl-slider-reset span:hover {color: red;}